:root {
  --un-default-border-color: var(--bi-line-main);

  color: var(--bi-fg-main);
  background-color: var(--bi-bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --uno: h-full p-0;
  --uno: select-none overflow-hidden;
  --uno: leading-normal font-sans;

  font-size: 12px;
}

.tippy-box[data-theme~='tooltip'] {
  --uno: border-solid border-tooltip;
  --uno: text-11px leading-3 font-semibold;
  --uno: rounded-sm;
  --uno: text-fgMain bg-default shadow;
}

.tippy-box[data-theme~='tooltip'] .tippy-content {
  --uno: px-2 py-1.5;
}

.tippy-box[data-theme~='tooltip'] .tippy-content kbd {
  --uno: my-0 m1-1 px-1;
  --uno: truncate font-sans;
  --uno: rounded-sm;
  background-color: rgba(107, 114, 128, 0.45);
}

.tippy-box[data-theme~='tooltip'] .tippy-svg-arrow {
  --uno: fill-default;
}

.tippy-box[data-theme~='popover'] {
  --uno: max-w-[45vw];
  --uno: border-none;
  --uno: rounded-sm;
  --uno: text-fgMain bg-default shadow-lg;
}

.tippy-box[data-theme~='popover'] .tippy-content {
  --uno: flex flex-col items-stretch;
  --uno: max-h-[45vh] py-1;
  --uno: focus:outline-none;
}

.tippy-box[data-theme~='popover'] .tippy-content > * {
  --uno: block;
}

.tippy-box[data-theme~='popover'] .tippy-svg-arrow {
  --uno: fill-default;
}

[data-v-tippy] {
  --uno: flex flex-1;
  --uno: truncate;
}
