:root {
  /* set uno.css */
  --un-default-border-color: var(--bi-line-main);

  color: var(--bi-fg-main);
  background-color: var(--bi-bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}
